#header{
background-color:darkgray;
color:black;
text-decoration:none;
}
#searchbar{
background-color:darkgray;
color:black;
text-decoration:none;
}

body{
padding-bottom:60px;
margin:5px;
color:black;
text-decoration:none;
background-color:lightgray;
}
table, th, td{
  text-align:center;
  
  font-size:20px;
  text-decoration:none;
  border-collapse: collapse;
  border-color:lightgray;
}
a {
  text-decoration: none;
  color:#7B807E;
}
#footer{
background-color:darkgray;
color:black;
text-decoration:none;
position: fixed;
height: 50px;
bottom: 0px;
left: 0px;
right: 0px;
padding: 10px;
margin-bottom: 0px;
margin-left: 6px;
margin-right: 6px;
}

h1{
	color:black;
	text-align:center;
	text-decoration:underline;
}
h2{
	color:black;
	text-align:center;
	text-decoration:underline;
}
h3{
	text-align: right;
}
form{
	width:100%;
	height:90%;
	text-align:center;
	color:black;
	background-color:lightgray;
	margin:auto;
	border-radius: 10px;
	}
	input{
		padding: 10px;
		border-radius: 10px;
	}
	button{
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}
select{
	padding: 5px;
	border-radius: 5px;
	margin: 5px;
}
